$colors: (
    primary: (
        100: hsl(185, 72%, 80%),
        200: hsl(185, 72%, 76%), // main
        300: hsl(185, 72%, 60%),
        400: hsl(185, 72%, 43%),
        500: hsl(185, 72%, 20%),
    ),
    secondary: (
        100: hsl(19, 78%, 84%), // main
        200: hsl(19, 78%, 70%),
        300: hsl(19, 78%, 60%),
        400: hsl(19, 78%, 50%),
        500: hsl(19, 78%, 40%),
    ),
    dark: (
        100: hsl(0, 9%, 80%),
        200: hsl(0, 9%, 76%),
        300: hsl(0, 9%, 60%),
        400: hsl(0, 9%, 43%),
        500: hsl(0, 9%, 13%), // main
    ),
    light: (
        100: hsl(0, 0%, 100%), // white
        200: hsl(200, 19%, 94%), // main
        300: hsl(200, 19%, 80%),
        400: hsl(200, 19%, 70%),
        500: hsl(200, 19%, 60%),
    ),
    mid: (
        100: hsl(180, 3%, 94%), // main
        200: hsl(180, 3%, 70%),
        300: hsl(180, 3%, 60%),
        400: hsl(180, 3%, 50%),
        500: hsl(180, 3%, 40%),
    ),
)